/* index.php */
body {
    background-color: #dcdcdc;
  }
  
  .title {
    text-align: center;
    font-size: 34px;
  }
  
  .boardWrapper {
    /* background-color: #b3eeb3; */
    background-color: #f3eded;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 20px;
  }
  
  section {
    padding: 0px 10px;
  }
  
  section .username {
    color: green !important;
    font-weight: 700;
  }
  
  section .nameArea {
    display: flex;
    align-items: center;
    margin-bottom: -14px;
  }
  
  section .comment {
    margin-top: 0;
    margin-left: 20px;
  }
  
  .success_message {
    color: green;
    padding-left: 10px;
  }
  
  .error_message {
    color: red;
    padding-left: 10px;
  }
  
  .formWrapper {
    padding: 16px;
    margin-left: 20px;
  }
  
  .commentTextArea {
    margin-top: 10px;
    width: 500px;
    height: 90px;
  }

/* entry.php */

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.form {
  background-color: #fff;
  text-align: center;
  width: 800px;
  padding: 20px 60px;
}
input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}
button {
  width: 100%;
  height: 40px;
  background-color: #7cfc00;
}
.writingButton {
  width: initial;
  height: initial;
  margin-bottom: initial;
  background-color: #7cfc00;
}
.wrapper {
  position: relative;
}
